/*общие*/

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #283136;
	display: flex;
	flex-direction: column;
	min-width: 1200px;
}

a {
 	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*кнопки*/

.btn {
 	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border: none;
	border-radius: 3px;
}

.btn-red {
 	background-color: #fb565a;
}

.btn-red:hover,
.btn-red:focus {
	background-color: #e74246;
}

.btn-red:active {
	color: #e37376;

	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.btn-green {
 	background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
	background-color: #00bc6c;
}

.btn-green:active {
	color: #4dc491;

	background-color: #00aa62;
	box-shadow: inset 0 3px 0 0 #009958;
}

.btn-yelow {
 	background-color: #efc84a;
}

.btn-yelow:hover,
.btn-yelow:focus {
	background-color: #eab534;
}

.btn-yelow:active {
	color: #ebba53;

	background-color: #e5a722;
	box-shadow: inset 0 3px 0 0 #ce961f;
}

.btn-gray {
	color: #000000;
	background-color: #eeeeee;
}

.btn-gray:hover,
.btn-gray:focus {
	background-color: #dfdfdf;
}

.btn-gray:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
	color: #959595;
}

/*шапка*/

.main-navigation,
.user-block {
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	margin-top: 10px;
}

.user-block a {
	text-align: right;
}

.main-navigation ul {
 	list-style: none;
}

.main-navigation a,
 .user-block a {
	color: #000000;
	position: relative;
}

.main-navigation a:hover,
.user-block a:hover,
.main-navigation a:focus,
.user-block a:focus {
	color: #fb565a;
}

.main-navigation a:active,
.user-block a:active {
	color: inherit;
	opacity: 0.3;
}

.main-navigation a::after,
.user-block a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 2px;
	background-color: #fb565a;
	width: 100%;
	opacity: 0;
}

.main-navigation a:focus::after,
.user-block a:focus::after {
	opacity: 1;
}

.user-block a::before {
	content: "";
	position: absolute;
	top: 6px;
	left: -40px;
	height: 40px;
	width: 40px;
	background-image: url(img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-block{
	text-align: right;
}

.logo a:hover,
.logo a:focus {
	opacity: 0.8;
}
.logo a:active {
	opacity: 0.3;
}

header {
	background-color: #eeeeee;
}

/*слайдер*/

.slide-lead {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}
.about-lead {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.features-slider {
	background-color: #eeeeee;
}

/*услуги*/

.servises-items {
	list-style: none;
}

.servises-items h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

/*Инфо-раздел*/

.about-right>b {
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}

.servises-list {
	list-style: none;
}

.about-fitchers>p {
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}


.about-fitchers ul {
	list-style: none;
}

.about-fitchers b {
	font-size: 45px;
	line-height: 55px;
	font-weight: 700;
	color: #000000;
}

/*Партнеры*/

.partners-logo {
	list-style: none;
}

/*Подвал*/

.social-icons {
	list-style: none;
}

.social-icons a {
	background-color: #e1e1e1;
	height: 80px;
	width: 80px;
	border-radius: 40px;
}

.social-icons a:hover,
.social-icons a:focus {
	background-color: #e74246;
}

.slogan b {
	font-size: 36px;
	line-height: 56px;
	font-weight: 700;
	color: #000000;
}

/*контакты c картой*/

.contacts b {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
}

/*pop-up*/

.write-us-field {
	border: 0;
}

.write-us-legend {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.write-us-field>div {
	font-weight: 500;
	color: #000000;
}

.pop-ap-input {
	font-size: inherit;

	background-color: transparent;
	border: 2px solid #d7dcde;
}

.pop-ap-input:hover {
	border-color: #b4b9bb;
}

.pop-ap-input:focus {
	border-color: #000000;
}

/*страница магазина*/


.head-main {
	background-color: #eeeeee;
}

.title-catalog h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

/*Каталог*/

.header-price,
.header-grid,
.heder-fitchers,
.sorting-title,
.card-name {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

.range-label {
	text-transform: uppercase;
}

.range-label input {
	font-size: inherit;
	background-color: #ededed;
	border: 0px;
	border-radius: 3px;
	text-align: center;
}

.range-control {
	background-color: #ededed;
}

.radio:hover,
.checkbox:hover {
	color: #000000;
}

.sorting-list,
.pagination {
	list-style: none;
}
.sorting-controls a {
	text-transform: uppercase;
	color: #000000;
	opacity: 0.3;
}

.sorting-list {
	font-size: 14px;
}

.sorting-controls a:hover {
	opacity: 0.6;
}

.sorting-controls a:active {
	opacity: 1;
}

.pagination a {
	padding: 16px 21px;
	border-radius: 3px;
	color: #000000;
	font-weight: 500;
	background: #eeeeee;
}

.pagination a:hover {
	background: #dfdfdf;
}

.pagination a:active {
	color: #959595;
	background: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination a.active {
	background: inherit;
	box-shadow: inset 0 0 0 3px #dbdbdb;
}

/*сетка*/

.conteiner {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

main {
	display: flex;
	flex-direction: column;
}

.main-navigation-conteiner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px; 
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	display: flex;	
	flex-wrap: wrap;
}

.main-navigation a {
	margin: 0 25px;
}

.user-block {
	display: flex;
	width: 160px;
	flex-wrap: wrap;
	justify-content: flex-end;
}

/*слайдер*/

.features-slider {
	position: relative;
}

.slider-controls {
	position: absolute;
	bottom: 50px;
	right: 50%;
	z-index: 2;
}

.slide-content {
	position: absolute;
	opacity: 0;
	min-height: 423px;
	z-index: -1;
}

.slide-1 {
	background-image: url(img/slide1.png);
	background-position: 430px bottom;
	background-repeat: no-repeat;
}

.slide-2 {
	background-image: url(img/slide2.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.slide-3 {
	background-image: url(img/slide3.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.feature-text {
	width: 560px;
}

.feature-text a {
	padding: 13px 55px;
}

.slide-content.active {
	display: flex;
	position: relative;
	z-index: 1;
	opacity: 1;
}

.feature-text {
	margin-top: 70px; 
}

.slide-lead {
	display: block;
	margin-bottom: 25px;
}

.feature-text a {
	margin: 40px 0;
}
/*Услуги*/
.servises {
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 63px;
}

.servises-items {
	display: flex;
	padding-top: 80px;
	justify-content: space-between;
	width: 1100px;
}

.servises-items li {
	width: 300px;
}

.servises-items img,
.servises-items h2,
.servises-items p {
	display: inline-block;
	margin-bottom: 16px;
}

.servises-items a {
	margin: 17px 0;
	padding: 13px 40px;
}
/* инфо-секция*/
.about-as {
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 45px;	
	display: flex;
	justify-content: space-between;
}

.about-right {
	width: 660px;
	margin-top: 75px;
}

.about-lead {
	display: inline-block;
	margin-bottom: 33px;
}

.about-text {
	margin-bottom: 38px;
}

.about-right>b {
	display: inline-block;
	margin-bottom: 25px;
}

.servises-list li {
	margin-bottom: 25px;
}

.about-left {
	width: 360px;
	margin-top: 40px;
	text-align: center;
}

.about-left img {
	margin-bottom: 30px;
}

.about-fitchers>p {
	margin-bottom: 35px;
}

.about-fitchers ul {
	display: flex;
}
	
.about-fitchers li {
	width: 120px;
	text-align: left;
	line-height: 18px;
}

.about-fitchers sup {
	font-size: 28px;
}

/* Партнеры*/

.partners {
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 35px;	
}

.partners-logo {
	display: flex;
	margin-top: 46px;
	justify-content: space-between;
}

.partners-logo a {
	opacity: .2;
}

.partners-logo a:hover {
	opacity: 1;
}

.partners-logo a:active {
	opacity: .1;
}

/*контакты + карта*/

.map {
	width: 100%;
	position: absolute;
	min-height: 420px;
	border: none;
}

.contacts {
	position: absolute;
	z-index: 1;
	background-color: #ffffff;
	box-sizing: border-box;
	margin-top: 55px;
	margin-bottom: 50px;
	min-height: 310px;
	padding: 49px;
}

.contacts b {
	display: inline-block;
	margin-bottom: 25px;
}

.contacts p {
	margin-bottom: 15px;
}

.contacts p:nth-child(3) {
	margin-bottom: 25px;
}

.contacts a {
	padding: 13px 45px;
}

.map-conteiner {
	position: relative;
	min-height: 420px;
	display: flex;
	margin-top: 75px;
}
/* сщц сети + слоган*/
.futer__botom {
	display: flex;
	margin-top: 40px;
	margin-bottom: 60px;
}

.social-icons {
	display: flex;
}

.social-icons {
	display: flex;
	flex-wrap: wrap;
	margin-right: 120px;
}

.social-icons a {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 13px;
}
/* вн. стр. каталог*/
.title-catalog {
	background-color: #eeeeee;
	min-height: 233px;
}

.title-catalog h1 {
	text-align: center;
	margin-top: 70px;
}

.content {
	display: flex;
	justify-content: space-between;
}
/*Фильтр*/

.content-filter {
	width: 260px;
	margin-top: 55px;
}

.content-filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.header-price {
	margin-bottom: 45px;
}

.range-control {
	display: flex;
	justify-content: center;
	height: 80px;
	align-items: center;
	
}

.range-track {
	height: 2px;
	width: 220px;
	background: #d7dbdd;
	position: relative;
}

.range-track-value {
	height: 2px;
	width: 150px;
	background: #71c878;
	position: absolute;
	top: 0;
	left: 0;
}

.range-btn {
	position: absolute;
  	bottom: -9px;
   	width: 20px;
  	height: 20px;
  	cursor: pointer;
 	border: none;
  	border-radius: 50%;
  	background-color: #ababab;
  	box-shadow:
    inset 0 0 0 8px #ffffff,
    0 2px 1px #dadada;
    z-index: 1;
}

.range-btn:active {
  outline: none;
  transform: scale(1.1);
}

.range-btn-min {
	left: -10px;
}

.range-btn-max {
	left: 140px;
}

.range-nam {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.range-output {
	width: 80px;
	height: 38px;
	margin-top: 15px;
	margin-left: 10px;
}

.header-grid, .heder-fitchers {
	margin-bottom: 15px;
}

.radio, .checkbox {
	display: block;
	margin-bottom: 9px;
}

 .checkbox input, .radio input {
	height: 25px;
	width: 25px;
}

.checkbox-label, .radio-label {
	vertical-align: top;
	padding-left: 10px;
}

.filter .filter-by-grid {
	margin-bottom: 25px;
}

.filter .btn-gray {
	padding: 15px 90px;
	margin-top: 30px;
}

.catalog {
	display: flex;
	flex-direction: column;
	margin-top: 55px;
	width: 760px;
}

.catalog-sorting {
	display: flex;
	margin-bottom: 45px;
	justify-content: space-between; 
}

.sorting-controls {
	display: flex;
	width: 360px;
	justify-content: space-between;
}

.sorting-list {
	display: flex;
	flex-wrap: wrap;
}

.sorting-text {
	margin-right: 20px;
}

.sorting-dir {
	display: flex;
	justify-content: space-between;
	width:  40px;
}

.sorting-dir a {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #000000;
  
}

.icon-down-dir {
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.icon-up-dir {
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.catalog-items {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.card {
	min-height: 616px;
	background-color: #e9e9e9;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 40px;
}

.card:hover {
	background-color: #4d4d4d;
	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.card:nth-child(2n+1) {
	margin-right: 40px;
}
.item-header {
	display: flex;
	min-height: 40px;
	padding: 10px;
	box-sizing: border-box;
}

.item-header span {
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #ffffff;
	border-radius: 50%;
	margin: 5px;
}

.card-info {
	box-sizing: border-box;
	position: absolute;
	width: 360px;
	text-align: center;
	padding: 10px;
	background: #eeeeee;
	opacity: 0;
}

.card:hover .card-info {
	opacity: 1;
}


.card-name {
	margin-top: 20px;
}

.card-description {
	margin: 15px 0;
}

.card-info a {
	padding: 13px 55px;
	margin-bottom: 30px;
}

.pagination {
	display: flex;
}

.pagination a {
	display: inline-block;
	margin-right: 10px;




